body {
    font-family: Arial, sans-serif;
    background-color: #eee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;  
    text-align: center;
    padding: 20px;
    background-color: rgb(127, 255, 212);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 24px;
}

.container__input {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 40px;
    padding: 10px;
}

.city-name-input {
    width: 80%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 8px;
}

.forecast-select {
    border: 1px solid grey;
    border-radius: 8px;
}

.search-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.daily-forecast-infos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.daily-forecast-info {
    width: 200px;
    border: none;
    border-radius: 8px;
    background-color: rgb(110, 224, 186);
}

.current-weather-info {
    margin-top: 20px;
}